@import "style.css";
@import "flex.css";

p{
font-size: large;
line-height: 1.5rem;
}
a{
font-size: medium;   
}
.button{
    background:#9b2d30 ;
    border:1px solid #9b2d30 ;
    color:white;
    padding:10px 0;
    display: block;
    border-radius: 1rem;
    margin-top:1rem;
}

.for_news_by_id{
width:700px;
align-items: center;
padding:3rem 0;
line-height: 1.5rem;
}
.for_news_by_id img{
width:700px; 
}
h2,
p.text_for_news{
margin-top:1rem;
padding:2rem 0;
text-align: justify;
}